.xo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0;
    border: 1px solid black;

}

.xo-wrap {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width: 160px;
}